{{#each global.pages }}
    <div class="{{ @key }}-section" id="{{ @key }}">
        <div class="{{ @key }}-wrapper">
            <div class="heading-arrow-container">
                <h1 class="{{ @key }}-heading section-heading">{{ name }}</h1>
                <i class="fa fa-arrow-up fa-2x"></i>
            </div>
          {{#if description }}
              <div class="{{ @key }}-description-wrapper">
                  <div class="{{ @key }}-description">{{{ description }}}</div>
                {{#if languages }}
                    <h2 class="languages-heading">Languages</h2>
                    <div class="language-wrapper">
                      {{#each languages }}
                          <ul class="languages-list">
                              <li>
                                  <h3 class="language-name">{{ name }}</h3>
                                  <ul class="library-list">
                                    {{#each libraries }}
                                        <li>{{ this }}</li>
                                    {{/each}}
                                  </ul>
                              </li>
                          </ul>
                      {{/each}}
                    </div>
                {{/if}}
                {{#if tools }}
                    <h2 class="tools-heading">Tools</h2>
                    <div class="tool-wrapper">
                        {{#each tools }}
                          <ul class="tools-list">
                              <li>
                                  <h3 class="tool-name">{{ type }}</h3>
                                  <ul class="secondary-tool-list">
                                      {{#each name }}
                                        <li>{{ this }}</li>
                                      {{/each}}
                                  </ul>
                              </li>
                          </ul>
                        {{/each}}
                    </div>
                {{/if}}
              </div>
          {{/if}}
          {{# if examples }}
              <div class="{{ @key }}-content-wrapper">
                {{#each examples }}
                    <a href="{{ link }}" title="{{ name }}" target="_blank">
                        <div class="{{ @key }}-content work-example">
                            <div class="image-wrapper">
                                <img src="{{ image }}" alt="{{ name }}" title="{{ name }}" class="{{ @key }}-image">
                            </div>
                            <h2 class="{{ @key }}-heading">{{ name }}</h2>
                        </div>
                    </a>
                {{/each}}
              </div>
          {{/if}}
          {{#if info }}
            {{#with info }}
                <div class="{{ @key }}-content-wrapper">
                    <div class="social-links-wrapper">
                        <h2 class="social-links-heading contact-secondary-heading">Follow me on social networks</h2>
                      {{#each social-links }}
                          <div class="{{ name }}-wrapper">
                              <a href="{{ link }}" title="{{ name }}" class="{{ name }}" target="_blank"><span
                                      class="icon">{{{ icon }}}</span></a>
                          </div>
                      {{/each}}
                    </div>
                    <div class="contact-links-wrapper">
                        <h2 class="contact-links-heading contact-secondary-heading">Contact me directly</h2>
                      {{#each contact-links }}
                          <div class="phone-email-wrapper">
                              <a href="{{ link }}" title="Amie's {{ name }}" class="phone-email-link">
                                  <span>{{{ icon }}}</span>

                                  <p class="phone-email-text">{{ name }}</p>
                              </a>
                          </div>
                      {{/each}}
                    </div>
                </div>
            {{/with}}
          {{/if}}
        </div>
    </div>
{{/each}}



