{{#each global.pages }}
    <div class="{{ @key }}-section" id="{{ @key }}">
        <div class="{{ @key }}-wrapper">
            <h1 class="{{ @key }}-heading">{{ name }}</h1>
          {{#if description }}
              <div class="{{ @key }}-description-wrapper">
                  <div class="{{ @key }}-description">{{{ description }}}</div>
              </div>
          {{/if}}

          {{# if examples }}
              <div class="{{ @key }}-content-wrapper">
                {{#each examples }}
                    <div class="{{ @key }}-content">
                        <div class="image-wrapper">
                            <img src="{{ image }}" alt="{{ name }}" title="{{ name }}" class="{{ @key }}-image">
                        </div>
                        <h2 class="{{ @key }}-heading">{{ name }}</h2>
                    </div>
                {{/each}}
              </div>
          {{/if}}
          {{#if info }}
            {{#with info }}
                <div class="{{ @key }}-content-wrapper">
                    <div class="social-links-wrapper">
                        <h2 class="social-links-heading">Follow me on social networks</h2>
                      {{#each social-links }}
                          <div class="{{ name }}-wrapper">
                              <a href="{{ link }}" title="{{ name }}" class="{{ name }}" target="_blank"><span class="icon">{{{ icon }}}</span></a>
                          </div>
                      {{/each}}
                    </div>
                    <div class="contact-links-wrapper">
                        <h2 class="contact-links-heading">Contact me directly</h2>
                      {{#each contact-links }}
                          <div class="phone-email-wrapper">
                              <a href="{{ link }}" title="Amie's {{ name }}"><span class="icon">{{{ icon }}}</span></a>
                              <p class="phone-email-text">{{ name }}</p>
                          </div>
                      {{/each}}
                    </div>
                </div>
            {{/with}}
          {{/if}}
        </div>
    </div>
{{/each}}



